/* Atur font Helvetica untuk seluruh proyek */
body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

/* Pastikan elemen lainnya menggunakan font Helvetica */
* {
  font-family: 'Helvetica', sans-serif;
}
